* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c2185b;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
