<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식당 관리 페이지</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=r6pv70yc8h"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/restaurant/restaurant-management.css">
</head>
<body>

<header>
    <th:block th:replace="~{header-footer/header}"></th:block>
</header>

<div class="container mt-5">
    <div id="restaurant-details" class="border p-4 text-center">
        <!-- Restaurant Info -->
    </div>
    <div id="map" style="width: 100%; height: 400px;"></div>

</div>

<div class="container mt-3 mb-5">
    <div id="buttonContainer" class="text-center">
        <!-- Create restaurant button -->
    </div>
</div>

<th:block th:replace="~{header-footer/footer}"></th:block>

<!-- JavaScript và jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Custom JavaScript -->
<script src="/static/js/restaurant/restaurant-management.js"></script>
</body>
</html>
