<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Details</title>
<!--  <link rel="stylesheet" href="styles.css">-->
</head>
<body>
<div id="restaurant-details">
  <h1 id="restaurant-name"></h1>
  <p id="restaurant-address"></p>
  <p id="restaurant-phone"></p>
  <p id="restaurant-opening-hours"></p>
  <p id="restaurant-cuisine-type"></p>
  <p id="restaurant-rating"></p>
  <img id="restaurant-image" alt="Restaurant Image" />
  <p id="restaurant-description"></p>
  <p id="restaurant-approval-status"></p>
  <a href="#" id="viewMenu">view menu</a>
</div>
<script src="/static/js/restaurant/restaurant-details.js"></script>
</body>
</html>
