<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>order</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <style>
    #map {
      width: 100%;
      height: 400px;
    }
  </style>
</head>
<body>
<div class="container mt-4">
  <div class="header">
    <a href="/views" class="site-name">ChoiGangDelivery</a>
    <a href="/views/login" class="login-link" id="logout-link">Logout</a>
    <a href="/views/get-my-profile">My Profile</a>

  </div>
  <h1>Order</h1>
  <div id="order-details"> </div>

  <div id="map"></div>
</div>

<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=codtfoiath"></script>
<script src="/static/js/users/current-order.js"></script>
</body>
</html>
