<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="../../static/css/users/current-order.css">
</head>
<body>
<header>
  <th:block th:replace="~{header-footer/header}"></th:block>
</header>

<h1>Order Details</h1>
<div class="section">
  <div id="order-details">
    <p><strong>Order ID:</strong> <span id="order-id"></span></p>
    <p><strong>Driver ID:</strong> <span id="driver-id"></span></p>
    <p><strong>User ID:</strong> <span id="user-id"></span></p>
    <p><strong>Delivery Address:</strong> <span id="delivery-address"></span></p>
    <p><strong>Restaurant ID:</strong> <span id="restaurant-id"></span></p>
    <p><strong>Order Date:</strong> <span id="order-date"></span></p>
    <p><strong>Order Status:</strong> <span id="order-status"></span></p>
    <p><strong>Total Menu Price:</strong> <span id="total-menus-price"></span></p>
    <p><strong>Shipping Fee:</strong> <span id="shipping-fee"></span></p>
    <p><strong>Total Amount:</strong> <span id="total-amount"></span></p>
    <p><strong>Estimated Arrival Time:</strong> <span id="estimated-arrival-time"></span></p>
  </div>
  <div id="map"></div>
</div>
<th:block th:replace="~{header-footer/footer}"></th:block>

<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=codtfoiath"></script>
<script src="/static/users/current-order.js"></script>
</body>
</html>
