<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<div class="header">
    <a href="/views" class="site-name">ChoiGangDelivery</a>
    <a href="/views/login" class="login-link" id="logout-link">Logout</a>
    <a href="/views/get-my-profile">My Profile</a>

</div>
<h1>My profile</h1>
<div>
    <a href="/views/update-profile">update profile</a>
    <a href="/views/change-password">change password</a>
    <a href="/views/reset-password">reset password</a>
    <a href="/views/upload-profile-image">upload profile image</a>

</div>

<h3 id="username"></h3>
<h3 id="password"></h3>
<h3 id="name"></h3>
<h3 id="nickname"></h3>
<h3 id="age"></h3>
<h3 id="email"></h3>
<h3 id="phone"></h3>
<h3 id="address"></h3>
<h3 id="profileImgPath"></h3>
<h3 id="role"></h3>
<h3 id="licenseNumber"></h3>
<h3 id="businessNumber"></h3>

<a href="/views/request-driver-role">request driver role</a><br>
<a href="/views/driver-request-status">Driver request status</a><br>
<a href="/views/request-owner-role">request owner role</a><br>
<a href="/views/owner-request-status">Owner request status</a>


<h3 id="emailVerified"></h3>

<h3 id="restaurant"><a href="gắn link nhà hàng của bản than vào đây">My restaurant</a></h3>
<h3 id="userLocation"></h3>
<h3 id="orders"></h3>
<h3 id="driver"><a href="link chuyển hướng sang giao diện của driver">Driver mode</a></h3>

<script src="/static/users/get-my-profile.js"></script>
</body>
</html>