<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Request Status</title>
    <link rel="stylesheet" href="../../static/css/users/owner-request-status.css"> <!-- Thêm CSS nếu cần -->
</head>
<body>
<header>
    <th:block th:replace="~{header-footer/header}"></th:block>
</header>

<div class="container mt-4">
    <h1>Owner Request Status</h1>
    <div class="section">
        <h3 id="businessNumber"></h3>
        <h3 id="userRole"></h3>
        <h3 id="status"></h3>
        <h3 id="rejectionReason"></h3>
    </div>
</div>

<footer>
    <th:block th:replace="~{header-footer/footer}"></th:block>
</footer>

<script src="/static/js/users/owner-request-status.js"></script>
</body>
</html>
