<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<header>
  <th:block th:replace="~{header-footer/header}"></th:block>
</header>
<body>

<h1>Change Your Password</h1>

<label for="email">Email:</label>
<input type="email" id="email" name="email" required>
<button type="button" id="sendVerificationCode">Send Verification Code</button>
<br><br>
<form id="passwordResetForm">
  <label for="code">Verification Code:</label>
  <input type="text" id="code" name="code" required>
  <br><br>

  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()-_+=]{8,15}$" title="Password must be 8-15 characters long, including letters and numbers.">
  <br><br>

  <button type="submit">Change Password</button>Views
</form>
<script src="/static/js/users/reset-password.js"></script>
</body>
<th:block th:replace="~{header-footer/footer}"></th:block>

</html>