/*Cuisine Types */
.categories {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 600px; 
    margin: 0 auto; 
    padding: 20px;
}

.category-row {
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    margin-bottom: 10px;
}

.category-item {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 120px;
}

.category-item img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s;
}

.category-item img:hover {
    transform: scale(1.05); 
}

.category-item p {
    font-weight: bold;
    color: #c2185b;
    font-size: 12px; 
    margin-top: 6px;
}


.search-section {
    text-align: center;
    margin-top: 20px;
}

.search-section input[type="text"] {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #c2185b;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 400px;
}

.search-section button {
    padding: 8px 15px;
    background-color: #c2185b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.search-section button:hover {
    background-color: #ff1493;
}


#findNearbyRestaurantsButton {
    padding: 8px 15px;
    background-color: #c2185b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

#findNearbyRestaurantsButton:hover {
    background-color: #ff1493;
}


#restaurant-list-by-menu {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#restaurant-list-by-menu {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

/* Tiêu đề tìm kiếm kết quả */
.search-results-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #c2185b;
}

/* Danh sách các nhà hàng */
.restaurant-list {
    display: flex;
    flex-direction: column;
}

/* Mỗi nhà hàng sẽ có hình ảnh bên trái và thông tin bên phải */
.restaurant-item {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Hình ảnh nhà hàng */
.restaurant-img {
    flex: 0 0 120px;
    margin-right: 15px;
}

.restaurant-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* Thông tin nhà hàng */
.restaurant-info {
    flex: 1;
}

.restaurant-name {
    font-size: 16px;
    font-weight: bold;
    color: #c2185b;
    text-decoration: none;
}

.restaurant-name:hover {
    text-decoration: underline;
    color: #ff1493;
}

