<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/menu/delete-menu.css">
</head>
<body>

<header>
    <th:block th:replace="~{header-footer/header}"></th:block>
</header>

<h1>메뉴 삭제</h1>
<p>메뉴를 삭제하시겠습니까?</p>

<div>
    <button id="confirm-delete" class="delete-btn">확인</button>
    <button id="cancel-delete" class="cancel-btn">취소</button>
</div>

<div id="response-message"></div>

<th:block th:replace="~{header-footer/footer}"></th:block>

<script src="/static/js/menu/delete-menu.js"></script>
</body>
</html>
