<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="../../static/css/login/find-password.css">
</head>
<body>
<div class="container" id="container">
    <!-- Email Verification Container -->
    <div class="form-container sign-in-container">
        <form>
            <h1>이메일인증</h1>
            <span>이메일을 사용하여 인증하세요</span><br>
            <div class="verification-container">
                <input type="email" placeholder="Email" id="emailInput" required/>
                <button type="button" id="sendCodeButton">Send Code</button>
            </div>
            <a href="/login">로그인으로 이동하시겠습니까?</a>
        </form>
    </div>

    <!-- Password Reset Container -->
    <div class="form-container sign-up-container" id="passwordResetForm" style="display: none;">
        <form>
            <h1>비밀번호 재설정</h1>
            <span>인증코드와 새 비밀번호를 입력해주세요.</span>
            <br>
            <input type="text" placeholder="Verification Code" id="verificationCodeInput" required/>
            <input type="password" placeholder="New Password" id="newPasswordInput" required/>
            <br><br>
            <button type="button" id="resetPasswordButton">Reset Password</button>
        </form>
    </div>

    <!-- Overlay Container -->
    <div class="overlay-container" id="overlayContainer">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, World</h1>
                <p>Enter your personal details and start your journey with us</p>
            </div>
        </div>
    </div>
</div>

<script src="../../static/js/login/find-password.js"></script>
</body>
</html>
