<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/header-footer/header.css">
<header>
    <!-- 부트 스트랩 세팅도 on -->
    <div class="nav-bar">
        <a href="/views" class="logo">ChoiGangDelivery</a>
        <!-- 나중에 로고에 아이콘 링크시키기 -->
<!--        <ul class="nav-menu">-->
<!--            <li><a href="/restaurants">Restaurants</a></li>-->
<!--            <li><a href="/foods">맛집</a></li>-->
<!--            &lt;!&ndash; 추가 메뉴 항목 &ndash;&gt;-->
<!--        </ul>-->

        <div class="nav-user-info" id="navUserInfo">
            <span id="username"></span>
            <span id="role"></span>
            <!--            &lt;!&ndash; 사용자 이름, 로그인 상태, 장바구니 등의 아이콘 &ndash;&gt;-->
            <!--            &lt;!&ndash; 사용자 이름 &ndash;&gt;-->
            <!--            <span class="nickname">사용자명</span>-->
            <!--            &lt;!&ndash; 사용자 상태 &ndash;&gt;-->
            <!--            &lt;!&ndash; 회원 // 호텔 매니저 // 관리자에따라 다르게 보여주기 &ndash;&gt;-->
            <!--            <span class="user-role">회원</span>-->
            <!--            &lt;!&ndash; 아이콘 예시 &ndash;&gt;-->
            <!--            <a href="/cart"><i class="cart-icon">🛒</i></a>-->
            <!--            <a href="/my-page"><i class="profile-icon">👤</i></a>-->
            <!-- ... -->
        </div>
    </div>
</header>
<script>
    const jwt = localStorage.getItem("token");
    const navUserInfoDiv = document.getElementById('navUserInfo');
    if (!jwt) {
        const loginHref = document.createElement('a');
        loginHref.href = '/views/login';
        loginHref.innerText = '로그인';
        loginHref.classList.add('text-menu');
        navUserInfoDiv.appendChild(loginHref);
    }
    async function fetchLoginInfo() {
        
        const response = await fetch('/users/get-my-profile', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${jwt}`
            }
        });
       

        if (response.ok) {
            const data = await response.json();

            const usernameHref = document.createElement('a');
            usernameHref.href = '/views/get-my-profile';
            usernameHref.style.textDecoration = 'none';
            usernameHref.style.color = 'black';
            usernameHref.innerHTML = `<span style="color: white;">Welcome to </span><span class="username" style="margin-right: 8px;"> ${data.username} 🧑‍🍳`;

            const userRoleSpan = document.createElement('span');
            userRoleSpan.classList.add('user-role');

            let role = '';
            let additionalHref = null;
            if (data.role === 'ROLE_USER') {
                role = ' 회원';
                const userHref = document.createElement('a');
                userHref.href = '/views/my-order';
                userHref.innerHTML = `🛒 My Order`;
                userHref.classList.add('text-menu');
                additionalHref = userHref;
            }
            else if (data.role === 'ROLE_DRIVER') {
                role = ' 배달원';
                const managementHref = document.createElement('a');
                managementHref.href = '/views/driver';
                managementHref.innerText = ' 배달 대시보드';
                managementHref.classList.add('text-menu');
                additionalHref = managementHref;
            }
            else if (data.role === 'ROLE_OWNER') {
                role = ' 매니저';
                const managementHref = document.createElement('a');
                managementHref.href = '/views/restaurant-management';
                managementHref.innerText = ' 식당 관리';
                managementHref.classList.add('text-menu');
                additionalHref = managementHref;
            }
            else if (data.role === 'ROLE_ADMIN') {
                role = ' 관리자';
                const dashboardHref = document.createElement('a');
                dashboardHref.href = '/views/admin';
                dashboardHref.innerText = '대시보드';
                dashboardHref.classList.add('text-menu');
                additionalHref = dashboardHref;
            }
            userRoleSpan.innerText = role;

            const logoutHref = document.createElement('a');
            logoutHref.href = '#';
            logoutHref.innerText = '로그아웃';
            logoutHref.classList.add('text-menu');
            logoutHref.addEventListener('click', logout);

            navUserInfoDiv.appendChild(usernameHref);
            navUserInfoDiv.appendChild(userRoleSpan);
            if (additionalHref != null) navUserInfoDiv.appendChild(additionalHref);
            navUserInfoDiv.appendChild(logoutHref);
        } else {
            const loginHref = document.createElement('a');
            loginHref.href = '/views/login';
            loginHref.innerText = '로그인';
            loginHref.classList.add('text-menu');
            navUserInfoDiv.appendChild(loginHref);
        }
    } 

    function logout() {
        localStorage.removeItem("token");
        location.href = "/views";
    }

    function initialize() {
        fetchLoginInfo();
    }

    initialize();
</script>
</html>